@import '$src/app.css';

@layer components {
    :root {
        --hyperlink: oklch(0.46 0.21 277);
        --hyperlink-active: oklch(0.32 0.21 277);
        --highlight: oklch(0.56 0.15 49);
    }
    .dark {
        --hyperlink: oklch(0.79 0.10 275);
        --hyperlink-active: oklch(0.86 0.10 275);
        --highlight: oklch(0.95 0.09 96);
    }

    @theme {
        --color-hyperlink: var(--hyperlink);
        --color-hyperlink-active: var(--hyperlink-active);
        --color-highlight: var(--highlight);
    }

    [data-slot="markdown-content"] {
        * {
            @apply text-left;
        }
        h1 {
            @apply text-center scroll-m-20 mt-4 text-4xl md:text-5xl font-extrabold tracking-tight;
        }
        h2 {
            @apply scroll-m-20 mt-4 border-b pb-2 text-2xl md:text-3xl font-bold tracking-tight transition-colors first:mt-0;
        }
        h3 {
            @apply scroll-m-20 mt-3 text-lg font-semibold tracking-tight first:mt-0;
        }
        h4 {
            @apply scroll-m-20 mt-3 text-lg font-semibold tracking-tight first:mt-0;
        }
        h5,h6 {
            @apply scroll-m-20 mt-3 text-lg font-medium tracking-tight first:mt-0;
        }

        a {
            @apply text-hyperlink hover:text-hyperlink-active !text-wrap !wrap-anywhere focus-visible:outline-none focus-visible:ring focus-visible:ring-2 focus-visible:rounded-xs focus-visible:ring-offset-transparent focus-visible:ring-ring !break-all;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;

            &:hover, &.active, &:focus-visible {
                @apply underline underline-offset-3;
            }

            /* For animated underline, though won't work nicely if text is long */
            /* @apply relative inline-block;
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: currentColor;
                transform-origin: bottom right;
                transition: transform 0.2s ease-out;
                box-decoration-break: clone;
                -webkit-box-decoration-break: clone;
            }
            &:hover:after,
            &.active:after {
                transform: scaleX(1);
                transform-origin: bottom left;
            } */
        }

        p {
            @apply leading-4 [&:not(:first-child)]:mt-6;
        }
        blockquote {
            @apply mt-6 border-l-2 pl-6 italic;
        }
        table {
            @apply w-full;

            thead {
                tr {
                    @apply even:bg-muted m-0 border-t p-0;

                    th {
                        @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
                    }
                }
            }
            tbody {
                tr {
                    @apply even:bg-muted m-0 border-t p-0;
                }
                td {
                    @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
                }
            }
        }
        ul {
            @apply my-6 ml-6 list-disc;
            li {
                @apply mt-2 pl-2;
            }
        }
        ol {
            @apply my-6 ml-6 list-decimal;
            li {
                @apply mt-2 pl-2;
            }
        }
        code {
            @apply bg-muted relative rounded px-[0.34rem] py-[0.15rem] font-mono text-sm font-medium text-[1.01em];
        }
    }
}