@import '$src/app.css';

@layer components {
    /* To work with rehypeAutolinkHeadings */
    h1,h2,h3,h4,h5,h6 {
        @apply w-full md:hover:[&>a]:inline-flex;
        a {
            @apply ml-1 hidden items-center p-1;
            svg {
                @apply inline-block size-6.5 font-semibold stroke-3 saturate-80;
            }
        }
    }
    h2 {
        a svg {
            @apply size-4.5 md:size-5.5;
        }
    }
    h3 {
        a svg {
            @apply size-4;
        }
    }
    h4,h5,h6 {
        a svg {
            @apply size-3.5;
        }

    }
}